/* You can add global styles to this file, and also import other style files */


body{
    background-color: #121313;
}

body { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.mat-dialog-container {
    background-color: #121313;
  }